*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #18191a; */
    /* color: #d3d2d0; */
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > .info .el .key{
    font-weight: 800;
}
.container > .info .el .key::after{
 content: "=";
 margin-left: 5px;
}
.container > .info .el{
    display: flex;
    gap: 10px;
    justify-content: center;

    
}
.container > .info{
    width: 70%;
    margin: 30px;
    font-size: 25px;
    background-color: azure;
    padding: 20px;
}
.container > h1{
    margin: 20px;
    margin-top: 100px;
    text-align: center;
}
.container .inputs{
    background-color: #F3D0D7;
    width: 80%;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    
}
.container .inputs .table{
    padding: 10px;
    margin-left: 150px;
    margin-top: 30px;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
.container .inputs .table table{
    border-collapse: collapse;
    width: 500px;
}

.container .inputs .add{
    background-color: #8576FF;
    width: 25%;
    height: 400px;
    border-radius: 10px;
    margin: 20px 30px 0 ;


}