*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #18191a; */
    /* color: #d3d2d0; */
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > .info .el .key{
    font-weight: 800;
}
.container > .info .el .key::after{
 content: "=";
 margin-left: 5px;
}
.container > .info .el{
    display: flex;
    gap: 10px;
    justify-content: center;

    
}
.container > .info{
    width: 70%;
    margin: 30px;
    font-size: 25px;
    background-color: azure;
    padding: 20px;
}
.container > h1{
    margin: 20px;
    margin-top: 100px;
    text-align: center;
}
.container .inputs{
    background-color: #F3D0D7;
    width: 80%;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    position: relative;
}
.container .inputs .table{
    padding: 10px;
    margin-left: 150px;
    margin-top: 30px;
}
table, th, td {
    border: 1px solid;
    text-align: center;
}
.container .inputs .table table{
    border-collapse: collapse;
    width: 500px;
}

.container .inputs .add{
    background-color: #8576FF;
    width: 20%;
    height: 350px;
    border-radius: 10px;
    margin: 20px 30px 0 ;


}

.reset-button {
    background-color: #434643; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: absolute;
    bottom: 59px;
    left: 34px;
    /* margin: -600px 220px 0; */
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    width: 145px;
  }
  
  .reset-button:hover {
    background-color: #ff70ec; 
  }
.play-button {
    background-color: #434643; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: absolute;
    bottom: 59px;
    left: 193px;
    /* margin: -600px 220px 0; */
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    width: 145px;
  }
  
  .play-button:hover {
    background-color: #ff70ec; 
  }